/* Variables - colors */
/* Variables - paddings */
/**/
.icon-menu {
  font-size: 24px;
  color: #999999; }

.navbar.navbar-default {
  background: #000;
  color: #fff;
  padding: 0;
  margin-bottom: 0;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  height: 190px;
  padding-top: 45px;
  padding-bottom: 65px;
  position: relative; }
  .navbar.navbar-default .navbar-header {
    float: left;
    height: 100%; }
    .navbar.navbar-default .navbar-header .icon-menu {
      font-size: 24px;
      color: #999999; }
  .navbar.navbar-default .navbar-right {
    margin-right: 0; }
  .navbar.navbar-default .navbar-toggle {
    display: block;
    float: left;
    border: none;
    padding: 5px 30px;
    margin: 0; }
    .navbar.navbar-default .navbar-toggle:hover, .navbar.navbar-default .navbar-toggle:focus, .navbar.navbar-default .navbar-toggle:active {
      background: initial; }
  .navbar.navbar-default .logo {
    float: left;
    font-size: 50px;
    line-height: 50px;
    color: #fff;
    text-transform: uppercase; }
  .navbar.navbar-default .language-menu {
    padding: 20px 0;
    text-align: right;
    color: #cccccc; }
    .navbar.navbar-default .language-menu li {
      display: inline-block;
      font-size: 15px; }
      .navbar.navbar-default .language-menu li a {
        padding: 20px 5px; }
        .navbar.navbar-default .language-menu li a:hover, .navbar.navbar-default .language-menu li a:focus, .navbar.navbar-default .language-menu li a:active {
          color: #fff; }
  .navbar.navbar-default .search-form {
    display: inline-block; }
    .navbar.navbar-default .search-form input {
      color: #999999;
      background: transparent;
      height: 70px;
      line-height: 70px;
      border-radius: 0;
      font-size: 18px;
      padding-right: 50px;
      position: relative;
      text-transform: uppercase; }
    .navbar.navbar-default .search-form .icon-search {
      font-size: 30px;
      position: absolute;
      top: 50%;
      right: 24px;
      transform: translateY(-50%);
      cursor: pointer; }
  .navbar.navbar-default.navbar-inverse {
    color: black;
    background-color: #cccccc;
    padding: 45px 0 35px 0; }
    .navbar.navbar-default.navbar-inverse .navbar-toggle,
    .navbar.navbar-default.navbar-inverse .logo,
    .navbar.navbar-default.navbar-inverse .search-form input,
    .navbar.navbar-default.navbar-inverse .language-menu,
    .navbar.navbar-default.navbar-inverse .navbar-header .icon-menu {
      color: black; }
    .navbar.navbar-default.navbar-inverse .search-form input {
      border: 1px solid black; }

.menu {
  width: 0;
  position: absolute;
  z-index: 1;
  top: 190px;
  left: 0;
  background-color: #000;
  transition: 0.5s;
  text-align: center; }
  .menu.open {
    width: 100%; }
  .menu ul {
    list-style-type: none;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    padding-left: 0;
    background-color: #000; }
    .menu ul li {
      display: block; }
      .menu ul li a {
        padding: 0 25px;
        color: #fff;
        display: block;
        transition: 0.8s;
        text-transform: uppercase;
        font-weight: normal;
        font-size: 46px;
        letter-spacing: 5px; }
        .menu ul li a:hover, .menu ul li a:active, .menu ul li a:focus {
          color: #999999; }

@media (max-width: 992px) {
  .navbar.navbar-default {
    height: 210px; }
    .navbar.navbar-default .logo {
      font-size: 32px; }
    .navbar.navbar-default .navbar-toggle {
      padding: 5px 15px; }

  .menu {
    margin-top: 210px; }
    .menu ul {
      height: auto;
      position: relative;
      top: 82px;
      display: block; }
      .menu ul li {
        display: block;
        text-align: center;
        max-height: 94px;
        overflow: hidden; }
        .menu ul li a {
          font-size: 55px; } }
@media (max-width: 1024px) {
  .navbar.navbar-default {
    padding-top: 20px;
    padding-bottom: 20px; }
    .navbar.navbar-default .navbar-header {
      height: 50px; }
    .navbar.navbar-default .logo {
      font-size: 36px; }
    .navbar.navbar-default .language-menu {
      text-align: center;
      margin: 0; } }
@media all and (min-width: 1025px) {
  .navbar-short {
    height: 170px;
    padding-bottom: 35px; }
    .navbar-short .menu {
      top: 170px; } }
/* Fonts */
@font-face {
  font-family: 'Grotesk';
  src: url("../fonts/FoundersGrotesk-Regular.otf") format("opentype"), url("../fonts/FoundersGrotesk-Regular.woff") format("woff"), url("../fonts/FoundersGrotesk-Regular.woff2") format("woff2"), url("../fonts/FoundersGrotesk-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Grotesk';
  src: url("../fonts/FoundersGrotesk-RegularItalic.otf") format("opentype"), url("../fonts/FoundersGrotesk-RegularItalic.woff") format("woff"), url("../fonts/FoundersGrotesk-RegularItalic.woff2") format("woff2"), url("../fonts/FoundersGrotesk-RegularItalic.svg") format("svg");
  font-weight: italic;
  font-style: italic; }
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot") format("opentype"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
html, body {
  font-family: 'Grotesk', Helvetica, sans-serif;
  font-weight: normal; }

h1, .h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: 6px;
  margin-bottom: 50px; }
  @media all and (max-width: 1366px) {
    h1, .h1 {
      font-size: 50px; } }

h2, .h2, .subtitle {
  font-size: 50px;
  letter-spacing: 2px;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 0; }

h3, .h3 {
  font-size: 40px;
  letter-spacing: 3px; }

h4, .h4 {
  font-size: 36px;
  letter-spacing: 2px; }

h5, .h5 {
  font-size: 30px;
  letter-spacing: 2px;
  margin: 0; }

.font-size-48 {
  font-size: 48px; }
  @media all and (max-width: 1024px) {
    .font-size-48 {
      font-size: 36px; } }

.font-size-36 {
  font-size: 36px;
  line-height: 40px; }
  @media all and (max-width: 1024px) {
    .font-size-36 {
      font-size: 24px; } }

.title-big {
  font-size: 100px;
  margin-bottom: 0; }

.product-title {
  font-size: 36px;
  letter-spacing: 1px;
  margin-bottom: 28px; }

p, .p {
  font-size: 18px; }

.subtext {
  font-size: 24px;
  margin-bottom: 45px; }

a {
  color: inherit; }
  a:hover, a:focus, a:active {
    text-decoration: inherit;
    color: #cccccc; }

.section-title {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 20px; }

.non-caps {
  text-transform: none; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-email:before {
  content: "\e901"; }

.icon-instagram:before {
  content: "\e902"; }

.icon-m_social:before {
  content: "\e903"; }

.icon-search:before {
  content: "\e904"; }

.icon-menu:before {
  content: "\e900"; }

/* Color classes */
.black-bg {
  background-color: #000; }

.white-bg {
  background-color: #fff; }

.grey-bg {
  background-color: #cccccc; }

.grey-medium-bg {
  background-color: #999999; }

.yellow-bg {
  background-color: #ffd200; }

.light-gray-bg {
  background-color: #eaeaea; }

.black {
  color: #000; }

.white {
  color: #fff; }

.grey {
  color: #cccccc; }

.grey-medium {
  color: #999999; }

.yellow {
  color: #ffd200; }

/* Helpers */
section {
  padding-bottom: 75px; }

.divider {
  border-bottom: 1px solid #999999;
  width: 100%; }
  .divider.divider-white {
    border-bottom: 1px solid #fff; }

.spacer {
  height: 75px; }

.spacer-xxsmall {
  height: 10px; }

.spacer-xsmall {
  height: 20px; }

.spacer-small {
  height: 60px; }

.spacer-medium-big {
  height: 110px; }

.spacer-big {
  height: 140px; }

.hr-spacer {
  height: 1px;
  background: #cccccc; }
  .hr-spacer.hr-mobile-spacer {
    display: none; }
    @media all and (max-width: 1024px) {
      .hr-spacer.hr-mobile-spacer {
        display: block; } }

.cta {
  text-transform: uppercase;
  margin-top: 45px;
  font-size: 30px; }
  .cta p {
    font-family: inherit;
    font-size: inherit; }

.m-0 {
  margin: 0; }

.mt-0 {
  margin-top: 0 !important; }

.mb-0 {
  margin-bottom: 0; }

.mb-50 {
  margin-bottom: 50px; }

.mt-50 {
  margin-top: 50px; }

.mt-30 {
  margin-top: 30px !important; }

.mb-60 {
  margin-bottom: 60px; }

.mb-100 {
  margin-bottom: 100px; }

.p-0 {
  padding: 0; }

.pt-0 {
  padding-top: 0; }

.pb-0 {
  padding-bottom: 0; }

.pt-60 {
  padding-top: 60px; }

.pt-75 {
  padding-top: 75px; }

.pt-80 {
  padding-top: 80px; }

.pt-120 {
  padding-top: 120px; }

.pb-150 {
  padding-bottom: 150px; }

.normal-weight {
  font-weight: normal; }

.inline-block {
  display: inline-block; }

/* Site styles */
html {
  background: #fff;
  overflow: auto;
  height: 100%; }

body {
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; }

.wrapper {
  flex: 1 0 auto; }

.container {
  max-width: 1024px;
  padding-left: 94px;
  padding-right: 94px; }
  .container.wide {
    max-width: 90%;
    width: 100%; }
    @media all and (max-width: 1024px) {
      .container.wide {
        max-width: 100%; } }

.list-inline {
  list-style: none;
  padding-left: 0; }
  .list-inline li {
    display: inline-block; }

input,
input.form-control {
  background: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }
  input::-webkit-input-placeholder,
  input.form-control::-webkit-input-placeholder {
    text-transform: uppercase; }
  input:-moz-placeholder,
  input.form-control:-moz-placeholder {
    text-transform: uppercase; }
  input::-moz-placeholder,
  input.form-control::-moz-placeholder {
    text-transform: uppercase; }
  input:-ms-input-placeholder,
  input.form-control:-ms-input-placeholder {
    text-transform: uppercase; }

button, .button, .btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }
  button:hover, button:focus, button:active, .button:hover, .button:focus, .button:active, .btn:hover, .btn:focus, .btn:active {
    color: #cccccc; }
  button.black:hover, button.black:focus, button.black:active, .button.black:hover, .button.black:focus, .button.black:active, .btn.black:hover, .btn.black:focus, .btn.black:active {
    color: black; }

.btn-grey {
  background: #cccccc; }
  .btn-grey:hover, .btn-grey:focus, .btn-grey:active {
    background: #999999; }

h1.innerpage, .h1.innerpage {
  font-size: 72px;
  text-transform: none;
  letter-spacing: normal;
  padding-bottom: 58px;
  border-bottom: 1px solid #cccccc; }
  @media all and (max-width: 768px) {
    h1.innerpage, .h1.innerpage {
      font-size: 50px; } }
  h1.innerpage span, .h1.innerpage span {
    display: block;
    font-size: 14px;
    color: #cccccc; }

/* Homepage slider */
section#homepage-slider {
  position: relative; }

.top-bg {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 40%;
  background: black; }

.slider .slider-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 60px;
  white-space: normal;
  word-break: break-all; }
  .slider .slider-content .button {
    font-size: 26px;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 33px;
    padding: 6px 6px 0px 6px;
    margin-top: 40px; }

.bx-wrapper {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  background: transparent; }

/* Artworks Grid - Isotope */
.grid:after {
  content: '';
  display: block;
  clear: both; }

.grid-item {
  padding: 0 5px 100px 5px; }
  .grid-item img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto; }
  .grid-item .artwork-caption {
    font-size: 20px;
    margin-top: 48px;
    margin-bottom: 0; }
  .grid-item .art-title {
    font-size: 20px;
    margin-bottom: 0;
    color: #cccccc;
    font-style: italic; }

#artist-all-artworks .grid-item {
  width: 20%;
  float: left;
  padding-bottom: 0; }
  @media all and (min-width: 1025px) and (max-width: 1366px) {
    #artist-all-artworks .grid-item p {
      font-size: 14px; } }
  @media all and (max-width: 1024px) {
    #artist-all-artworks .grid-item {
      width: 100%;
      float: none;
      text-align: center;
      margin-bottom: 75px; }
      #artist-all-artworks .grid-item .artwork-caption {
        margin-top: 24px; }
      #artist-all-artworks .grid-item img {
        margin: 0 auto; } }
#artist-all-artworks.artist-list .grid-item {
  margin-bottom: 75px; }
#artist-all-artworks .innerpage-artworks {
  margin: 50px 0 80px 0; }
  #artist-all-artworks .innerpage-artworks .grid-item {
    padding-bottom: 45px; }
    #artist-all-artworks .innerpage-artworks .grid-item .artwork-caption {
      margin-top: 24px; }

/* Stories */
.story-item {
  padding-bottom: 30px; }
  .story-item p {
    font-size: 24px;
    margin-top: 40px; }

/* Artwork */
#filter-art ul {
  list-style: none;
  margin: 0 0 60px 0;
  padding: 0; }
  #filter-art ul li {
    font-size: 40px;
    line-height: 42px;
    color: #000;
    cursor: pointer; }
    #filter-art ul li.active, #filter-art ul li:hover {
      color: #999999; }
#filter-art #auction-container {
  margin: 30px 0; }
  #filter-art #auction-container #auction {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    position: relative;
    border: 2px solid #cccccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    color: #cccccc;
    width: 40px;
    height: 40px;
    margin: 0;
    vertical-align: top;
    outline: none; }
  #filter-art #auction-container #auction:active, #filter-art #auction-container #auction:checked:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1); }
  #filter-art #auction-container #auction:checked {
    background: url("../images/checkbox.png") center center no-repeat;
    border: 2px solid #cccccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
    color: #cccccc; }
  #filter-art #auction-container label {
    font-size: 40px;
    margin: 0 0 0 32px;
    position: relative;
    top: 8px;
    font-weight: normal;
    line-height: 40px;
    vertical-align: top; }
#filter-art #priceRange {
  position: relative;
  padding-top: 60px;
  margin-top: 60px;
  color: #cccccc;
  text-transform: uppercase; }
  #filter-art #priceRange .left {
    position: absolute;
    left: 0;
    top: 10px;
    font-size: 30px; }
  #filter-art #priceRange .right {
    position: absolute;
    right: 0;
    top: 10px;
    font-size: 24px; }
  #filter-art #priceRange input {
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    width: 100%;
    /* Full-width */
    height: 10px;
    /* Specified height */
    background: #cccccc;
    /* Grey background */
    outline: none;
    /* Remove outline */
    opacity: 0.7;
    /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s;
    /* 0.2 seconds transition on hover */
    transition: opacity .2s; }
    #filter-art #priceRange input::-webkit-slider-thumb {
      -webkit-appearance: none;
      /* Override default look */
      appearance: none;
      width: 32px;
      /* Set a specific slider handle width */
      height: 32px;
      /* Slider handle height */
      background: #fff;
      /* Green background */
      border: 2px solid #cccccc;
      cursor: pointer;
      /* Cursor on hover */ }
@media all and (max-width: 1024px) {
  #filter-art {
    margin-bottom: 100px; } }

.btn-load {
  font-size: 24px;
  text-transform: uppercase;
  line-height: 84px;
  border: 1px solid #999999;
  padding: 0 126px;
  cursor: pointer;
  display: block;
  margin: 45px auto 0;
  outline: none;
  -webkit-appearance: none;
  background: #fff; }
  @media all and (max-width: 768px) {
    .btn-load {
      padding: 0 36px;
      line-height: 48px; } }

.artwork-action {
  color: #cccccc;
  text-transform: uppercase;
  font-size: 20px;
  text-decoration: underline;
  font-weight: normal; }

/* Artist preview */
#artist-description img {
  max-width: 200px;
  width: 100%; }
#artist-description p a {
  text-transform: uppercase;
  text-decoration: underline; }
  #artist-description p a:hover {
    color: #999999; }
@media all and (max-width: 1024px) {
  #artist-description {
    margin-top: 48px; } }

/*** PDP page ***/
.pdp-slider .slider-controls {
  margin-top: 20px; }
.pdp-slider .image-count {
  display: inline-block;
  margin-right: 30px;
  vertical-align: middle; }
.pdp-slider .slider-arrows {
  display: inline-block;
  vertical-align: middle; }
  .pdp-slider .slider-arrows .glyphicon {
    font-size: 21px;
    padding: 0 5px; }
.pdp-slider a.bx-next:hover, .pdp-slider a.bx-next:focus, .pdp-slider a.bx-next:active, .pdp-slider a.bx-prev:hover, .pdp-slider a.bx-prev:focus, .pdp-slider a.bx-prev:active {
  color: #cccccc; }

.pdp-action .product-price {
  padding-top: 40px;
  padding-left: 11%; }
  .pdp-action .product-price.bid-price {
    display: flex;
    align-items: center; }
  .pdp-action .product-price .price {
    font-size: 48px;
    margin-right: 20px; }
  .pdp-action .product-price .price-small {
    font-size: 21px;
    vertical-align: top;
    margin-top: 10px; }
.pdp-action .action-button {
  height: 115px;
  font-size: 48px;
  line-height: 115px; }

.about-artwork p, .about-artist p {
  font-size: 21px;
  margin-bottom: 40px;
  line-height: normal; }

.art-item a:hover, .art-item a:focus, .art-item a:active {
  color: #999999; }

input.form-control.bid-input {
  margin-top: 7px;
  height: 100px;
  padding: 40px;
  font-size: 24px; }
  input.form-control.bid-input::-webkit-input-placeholder {
    font-size: 24px;
    text-transform: none; }
  input.form-control.bid-input:-moz-placeholder {
    font-size: 24px;
    text-transform: none; }
  input.form-control.bid-input::-moz-placeholder {
    font-size: 24px;
    text-transform: none; }
  input.form-control.bid-input:-ms-input-placeholder {
    font-size: 24px;
    text-transform: none; }

.auction-label {
  padding-top: 30px;
  line-height: normal; }

.price-label {
  display: inline-block;
  margin-right: 10px;
  font-size: 24px; }

/* Footer */
footer {
  flex-shrink: 0;
  color: #999999; }
  footer .footer-top {
    padding: 60px 0 20px 0;
    font-size: 20px; }
  footer .footer-bottom {
    font-size: 18px;
    padding: 20px 0;
    border-top: 1px solid #cccccc; }
    footer .footer-bottom .social {
      text-align: right; }
  footer .list-inline li {
    padding: 0 15px; }
    footer .list-inline li a {
      color: #cccccc; }
    @media all and (max-width: 1024px) {
      footer .list-inline li {
        padding: 0 5px;
        display: block; } }
  footer .newsletter-form {
    padding-top: 15px;
    padding-bottom: 15px; }
    footer .newsletter-form button {
      text-transform: uppercase;
      background: #cccccc;
      height: 82px;
      box-sizing: border-box;
      padding: 0 50px; }
    footer .newsletter-form input.form-control {
      height: 82px;
      line-height: 82px;
      box-sizing: border-box;
      width: 600px; }
      @media all and (max-width: 1366px) {
        footer .newsletter-form input.form-control {
          width: 400px; } }
      @media all and (max-width: 1024px) {
        footer .newsletter-form input.form-control {
          width: 200px; } }
      @media all and (max-width: 768px) {
        footer .newsletter-form input.form-control {
          width: 100%;
          max-width: 400px;
          margin: 0 auto; } }
  footer a {
    color: inherit; }
    footer a:hover, footer a:focus, footer a:active {
      color: #fff;
      text-decoration: inherit; }
  footer .footer-soc {
    list-style: none;
    padding-left: 0; }
    footer .footer-soc li {
      display: inline-block;
      padding: 20px; }

@media (max-width: 1280px) {
  .title-big {
    font-size: 52px; }

  .subtitle {
    font-size: 40px; }

  .auction-label {
    padding-top: 10px; }
    .auction-label p {
      font-size: 16px; }

  .pdp-action .product-price .price-label {
    font-size: 21px; }
  .pdp-action .product-price .price {
    font-size: 36px; } }
@media (max-width: 1024px) {
  .bid-price {
    padding-left: 15px; }

  .col-bid-input {
    padding: 0; }

  .pdp-action .product-price {
    padding-left: 15px; }
    .pdp-action .product-price .price-small {
      font-size: 18px;
      margin-top: 0; } }
@media (max-width: 768px) {
  /* typography */
  h1 {
    font-size: 40px;
    line-height: 1;
    letter-spacing: 4px;
    margin-bottom: 35px; }

  h2, .h2, .subtitle {
    font-size: 35px;
    letter-spacing: 3.5px;
    line-height: 1.1;
    margin-top: 0;
    margin-bottom: 0; }

  h3, .h3 {
    font-size: 28px;
    letter-spacing: 3px; }

  h4, .h4 {
    font-size: 24px;
    letter-spacing: 2px; }

  .title-big {
    font-size: 48px; }

  .subtitle {
    font-size: 36px; }

  .subtext {
    font-size: 18px;
    margin-bottom: 30px; }

  .medium {
    font-size: 28px;
    line-height: 1.2; }

  p, .p {
    font-size: 16px; }

  .section-title {
    font-size: 20px;
    margin-bottom: 30px; }

  .date {
    position: relative;
    bottom: initial;
    left: initial; }

  .container {
    padding-left: 40px;
    padding-right: 40px; }

  section {
    padding-bottom: 45px; }

  /* spacer adjustment */
  .spacer {
    height: 45px; }

  .spacer-xsmall {
    height: 10px; }

  .spacer-small {
    height: 30px; }

  .spacer-medium-big {
    height: 50px; }

  .spacer-big {
    height: 60px; }

  .pt-30m {
    padding-top: 30px; }

  button, .button {
    margin-top: 10px; }

  /* menu */
  .menu ul {
    top: 25px; }
    .menu ul li {
      max-height: 65px; }
      .menu ul li a {
        font-size: 30px; }

  .slider .slider-content {
    padding: 30px; }
    .slider .slider-content .button {
      font-size: 24px;
      line-height: 28px;
      padding: 6px 6px 0px 6px;
      margin-top: 20px; }

  /* typography */
  h1 {
    font-size: 40px;
    line-height: 1;
    letter-spacing: 4px;
    margin-bottom: 35px; }

  h2, .h2 {
    font-size: 35px;
    letter-spacing: 3.5px;
    line-height: 1.1;
    margin-top: 0;
    margin-bottom: 0; }

  h3, .h3 {
    font-size: 28px;
    letter-spacing: 3px; }

  h4, .h4 {
    font-size: 24px;
    letter-spacing: 2px; }

  .subtext {
    font-size: 18px;
    margin-bottom: 30px; }

  .medium {
    font-size: 28px;
    line-height: 1.2; }

  p, .p {
    font-size: 16px; }

  /* Artworks Grid - Isotope */
  .grid-sizer, .grid-item {
    width: 100%; }

  .grid-item, .artwork-item {
    padding-bottom: 50px; }
    .grid-item .artwork-caption, .artwork-item .artwork-caption {
      margin-top: 20px; }

  .about-artwork p, .about-artist p {
    margin-bottom: 20px; }
  .about-artwork .auction-label, .about-artist .auction-label {
    padding-top: 10px; }
  .about-artwork .action-button, .about-artist .action-button {
    margin-top: 7px; }
  .about-artwork footer, .about-artist footer {
    position: relative;
    text-align: center; }
    .about-artwork footer .footer-top, .about-artwork footer .footer-top > *, .about-artist footer .footer-top, .about-artist footer .footer-top > * {
      text-align: center; }
    .about-artwork footer .footer-bottom, .about-artist footer .footer-bottom {
      text-align: center; }
      .about-artwork footer .footer-bottom .social, .about-artist footer .footer-bottom .social {
        text-align: center; }

  /* Stories */
  .story-item p {
    font-size: 18px;
    margin-top: 30px; }

  .pb-150 {
    padding-bottom: calc(150px/2); }

  .pt-120 {
    padding-top: calc(120px/2); }

  .pt-80 {
    padding-top: calc(80px/2); }

  .pt-60 {
    padding-top: calc(60px/2); }

  .pdp-action .product-price {
    padding-left: 15px; }
    .pdp-action .product-price .price-label {
      font-size: 18px; }
    .pdp-action .product-price .price {
      font-size: 24px; } }
@media (max-width: 480px) {
  .slider .slider-content {
    padding: 15px; }
    .slider .slider-content .button {
      font-size: 15px;
      line-height: 18px;
      margin-top: 5px; }

  .title-big {
    font-size: 24px; }

  .subtitle {
    font-size: 16px; } }
@media (max-height: 375px) {
  /* menu */
  .menu ul {
    top: 0; }
    .menu ul li {
      max-height: 55px; }
      .menu ul li a {
        font-size: 30px; } }

/*# sourceMappingURL=style.css.map */
