/* Fonts */
@font-face {
  font-family: 'Grotesk';
  src: url("../fonts/FoundersGrotesk-Regular.otf") format("opentype"),
  url('../fonts/FoundersGrotesk-Regular.woff') format('woff'),
  url('../fonts/FoundersGrotesk-Regular.woff2') format('woff2'),
  url('../fonts/FoundersGrotesk-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Grotesk';
  src: url("../fonts/FoundersGrotesk-RegularItalic.otf") format("opentype"),
  url('../fonts/FoundersGrotesk-RegularItalic.woff') format('woff'),
  url('../fonts/FoundersGrotesk-RegularItalic.woff2') format('woff2'),
  url('../fonts/FoundersGrotesk-RegularItalic.svg') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot') format("opentype"),
  url('../fonts/icomoon.ttf') format('truetype'),
  url('../fonts/icomoon.woff') format('woff'),
  url('../fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body {
  font-family: 'Grotesk', Helvetica, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

h1, .h1 {
  font-size: 60px;
  line-height: 1;
  margin-bottom: 50px;
  @media all and (max-width: 1366px) {
    font-size: 50px;
  }
}

h2, .h2, .subtitle {
  font-size: 50px;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 0;
}

h3, .h3 {
  font-size: 40px;
}

h4, .h4 {
  font-size: 36px;
}

h5, .h5 {
  font-size: 24px;
  margin: 0;
}

.font-size-48 {
  font-size: 48px;
  @media all and (max-width: 1024px) {
    font-size: 36px;
  }
}

.font-size-36 {
  font-size: 36px;
  line-height: 40px;
  @media all and (max-width: 1024px) {
    font-size: 24px;
  }
}

.font-size-30 {
  font-size: 30px;
}

.font-size-24 {
  font-size: 24px;
  line-height: 1.4;
  @media all and (max-width: 1024px) {
    font-size: 18px;
  }
}

.title-big {
  font-size: 100px;
  margin-bottom: 0;
}

.product-title {
  font-size: 36px;
  margin-bottom: 28px;
}

p, .p {
  font-size: $p;
}

.subtext {
  font-size: 24px;
  margin-bottom: 45px;
}

a {
  color: inherit;
  &:hover, &:focus, &:active {
    text-decoration: inherit;
    color: $grey;
  }
}

.section-title {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.non-caps {
  text-transform: none;
}
