<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>Open Art Market</title>

	<!-- Bootstrap -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
<div class="wrapper">
	<!-- Navbar -->
	<nav class="navbar navbar-default navbar-short">
		<div class="navbar-header col-sm-4 col-xs-12">
			<button id="menu-toggle" type="button" class="navbar-toggle" onclick="toggleNav()"><!-- data-toggle="collapse" data-target="#menu"  -->
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-menu"></span>
			</button>
			<a class="logo" href="index.html">Open Art Market</a>
		</div>
		<div class="navbar-right col-md-8 col-xs-12">
			<div class="search-form col-md-6 col-md-offset-2 col-xs-12 col-xs-offset-0">
				<input type="text" class="form-control" placeholder="Search">
				<span class="icon-search" (click)="onSearch();"></span>
			</div>
			<ul class="list-inline language-menu col-md-4 col-xs-12">
				<li><a href="#">English</a></li>
				<li><a href="#">Korean</a></li>
				<li><a href="#">Arabic</a></li>
			</ul>
		</div>
		<div id="menu" class="menu">
			<ul>
				<li><a href="#">Artworks</a></li>
				<li><a href="#">Artists</a></li>
				<li><a href="#">Competitions</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Login</a></li>
			</ul>
		</div>
	</nav>
	<!-- End navbar -->

	<!-- Content -->
	<section class="white-bg black">
		<div class="container wide">
			<div class="row">
				<div class="col-sm-12 pt-120">
					<div class="container-fluid footer-bottom">
						<div class="col-md-6">
							<h1 class="font-size-48 m-0">Hiroe Saeki</h1>
						</div>
						<div class="col-md-6">
							<div class="row" id="artist-description">
								<div class="col-xs-12">
									<img src="images/artist_preview.png" alt="Hiroe Saeki" class="mb-50" />
								</div>
								<div class="col-xs-12">
									<p>
										Born in Osaka in 1978, Hiroe Saeki graduated from the Faculty of Fine Art, Kyoto Seika University in 2001.<br />
										Making her debut at the exhibition held at Taka Ishii Gallery in 2004, Saeki won the VOCA Encouragement Prize and held her first overseas solo exhibition at Galerie Almine Rech in Paris, in 2006.
									</p>
									<p class="mt-50">
										<a href="#" class="inline-block">Read more</a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="divider"></div>
	<section>
		<div class="container wide pt-60">
			<div class="row">
				<div class="col-sm-12">
					<h2 class="h4 mb-50">All artworks by Hiroe Saeki</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12" id="artist-all-artworks">
					<div class="grid-item">
						<img src="images/artwork1.jpg" alt="artwork 1">
						<p class="artwork-caption">First Last (name)</p>
						<p class="art-title">Untitled, 2017</p>
					</div>
					<div class="grid-item">
						<img src="images/artwork2.jpg" alt="artwork 2">
						<p class="artwork-caption">First Last (name)</p>
						<p class="art-title">Untitled, 2018</p>
					</div>
					<div class="grid-item">
						<img src="images/artwork3.jpg" alt="artwork 3">
						<p class="artwork-caption">First Last (name)</p>
						<p class="art-title">Untitled, 2017</p>
					</div>
					<div class="grid-item">
						<img src="images/artwork4.jpg" alt="artwork 4">
						<p class="artwork-caption">First Last (name)</p>
						<p class="art-title">Untitled, 2018</p>
					</div>
					<div class="grid-item">
						<img src="images/artwork5.jpg" alt="artwork 5">
						<p class="artwork-caption">First Last (name)</p>
						<p class="art-title">Untitled, 2017</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- /Content-->
</div>
<!-- Footer -->
<footer class="black-bg">
	<div class="container-fluid footer-top">
		<div class="col-sm-4 text-left text-uppercase">
			<ul class="list-inline">
				<li><a href="#">About</a></li>
				<li><a href="#">Resources</a></li>
				<li><a href="#">How it works</a></li>
			</ul>
		</div>
		<div class="col-sm-8 text-left">
			<span class="grey">Join our mailing list and stay updated</span>
			<form class="form-inline newsletter-form">
				<input type="email" placeholder="Your email address" class="form-control input-lg grey">
				<button class="btn btn-lg black" type="submit">Submit</button>
			</form>
		</div>
	</div>
	<div class="container-fluid footer-bottom">
		<div class="col-sm-6">
			<ul class="list-inline inline-block">
				<li class="text-uppercase "><span class="copy">&copy;</span>2018 Open Art Market</li>
				<li><a>Privacy Policy</a></li>
				<li>Karl Marx Allee 98, 10243 Berlin, DE</li>
			</ul>
		</div>
		<div class="col-sm-6 social">
			<ul class="list-inline ">
				<li class="text-uppercase">Join the conversation</li>
				<li><a href="#"><span class="icon-email"></span></a></li>
				<li><a href="#"><span class="icon-m_social"></span></a></li>
				<li><a href="#"><span class="icon-instagram"></span></a></li>
			</ul>
		</div>
	</div>
</footer>
<!-- / Footer -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script src="js/isotope.pkgd.min.js"></script>
<script src="js/matchHeight.js"></script>
<script src="js/custom.js"></script>
<script>
    $(document).ready(function(){
        /* isotope grid */

        $('.grid').isotope({
            percentPosition: true,
            itemSelector: '.grid-item'
        });

    });
</script>
</body>
</html>
